/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*CSS Variables*/
:root {
    --heading-font: "Michroma", sans-serif;
    --body-font: "Rubik", sans-serif;
    /*Primary & secondary colors chosen using figma.com/color-picker, accents & highlight chosen for brightness and contrast*/
    --primary-color: #213e53; /*Dark blue*/
    --secondary-color: #ebecf0; /*Light grey*/
    --accent-light: #b3f542; /*Green*/
    --accent-dark: #7b00b8; /*Purple*/
    --highlight: #00ffff; /*Blue*/
}

/*Wildcard selector to override browser defaults*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    Display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--body-font);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
    text-transform: capitalize;
}

h1 {
    letter-spacing: 1px;
    margin: 0;
    font-size: 270%;
    padding-bottom: 10px;
    color: var(--primary-color)
}

.hidden {
    display: none;
}

.text-end {
    text-align: end;
}

.lead {
    font-size: 1.2rem;
}

.page-title {
    margin-top: 20px;
    text-align: center;
    min-width: 100%;
    min-height: 250px;
}

.title-div {
    background-color: rgba(33, 62, 83, 0.4);
    padding: 108px 0;
    min-height: inherit;
}

.light-text {
    color: var(--secondary-color);
}

/*Navbar*/
header {
    background-color: var(--primary-color);
    position: fixed;
    padding: 7px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 2px #0d1e2a; /*Darker variation of primary color*/
    z-index: 99;
}

#nav-text {
    font-family: var(--heading-font);
    flex-grow: 2;
    padding-left: 10px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo-image {
    max-height: 30px;
}

#menu {
    list-style: none;
    padding-left: 0;
    margin: 5px 0;
}

#menu li {
    border-top: 1px solid var(--secondary-color);
    padding: 5px 0;
    margin-right: 10px;
    letter-spacing: 1px;
}

.blue-hover:hover {
    color: var(--highlight);
}

.purple-hover:hover {
    color: #D072FF;
    /*Lighter variation of accent-dark for improved visibility*/
}

.green-hover:hover {
    color: var(--accent-light);
}

.pink-hover:hover {
    color: #fd8fad; /*Pink*/
}

nav {
    background-color: var(--primary-color);
    position: absolute;
    width: 100%;
    left: 0;
    padding-left: 10px;
    display: none;
    top: 100%;
    box-shadow: 0px 4px 2px #0d1e2a;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

.nav-toggle {
    font-size: 1.5rem;
}

/*Main Content*/
main {
    /*To ensure main uses all space to push footer to bottom*/
    flex: 1 0 auto;
    margin-top: 48px;
}

/*Hero Section*/
#hero {
    height: 450px;
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat 48% center / cover;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 10;
}

#title {
    position: absolute;
    top: 20px;
    text-align: center;
    background-color: rgba(235, 236, 240, 0.7); /*Secondary color converted to rgb using https://htmlcolorcodes.com/hex-to-rgb/*/
    min-width: 100%;
}

/*About Section*/
#about {
    display: flex;
    flex-wrap: wrap;
}

#about div {
    flex-basis: 384px;
    flex-grow: 1;
}

#about p {
    padding: 0.5rem 0;
}

#about p~p {
    margin-bottom: 50px;
}

.about-text {
    padding: 1rem 10px;
    position: relative;
}

.about-border-top {
    border-top: 1px solid var(--secondary-color);
}

#club-info {
    background-color: var(--primary-color);
}

#club-info h2 {
    color: var(--accent-light);
}

#about-image {
    min-height: 300px;
    background: url(../images/about-image.webp) no-repeat top left / cover;
    width: 100%;
}

#rowing h2 {
    color: var(--accent-dark);
}

/*Testimonials Section*/
#testimonials {
    text-align: center;
    background-color: rgba(0, 255, 255, 0.5);
    display: flex;
    flex-flow: column nowrap;
    padding-top: 15px;
}

.t-card {
    margin: 20px auto;
    height: fit-content;
    max-width: 80%;
    box-shadow: 0 0 10px var(--primary-color);
    border-radius: 10px;
    position: relative;
    text-align: start;
    padding: 10px;
    background-color: var(--secondary-color);
}

.profile {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#first-tc {
    background: url(../images/louise-h-profile.webp) no-repeat 20% 10% / 200%;
}

#second-tc {
    background: url(../images/niall-s-profile.webp) no-repeat center center / cover;
}

#third-tc {
    background: url(../images/gemma-b-profile.webp) no-repeat center center / cover;
}

#fourth-tc {
    background: url(../images/joanne-r-profile.webp) no-repeat 40% 30% / 500%;
}

.name { 
    position: absolute;
    top: 30px;
    right: 20px;
}

.name ~ p {
    margin-top: 70px;
}

/*Timetable Page*/
#timetable-title {
    background: url(../images/timetable-title-image.webp) no-repeat center 35% / cover;
}

#timetable-info {
    padding: 10px 10px 0 10px;
}

.card {
    margin: 20px 10px;
    height: fit-content;
    box-shadow: 0 0 10px var(--primary-color);
}

.card-image {
    display: flex;
    align-items: flex-end;
    height: 220px;
}

#steady-state {
    background: url(../images/steady-state.webp) no-repeat center 10% / cover;
    color: var(--accent-light);
}

#circuits {
    background: url(../images/circuits.webp) no-repeat center top / cover;
    color: var(--accent-dark);
}

#intervals {
    background: url(../images/interval-training.webp) no-repeat center center / cover;
    color: var(--highlight);
}

#social-hike {
    background: url(../images/social-hike.webp) no-repeat center top / cover;
    color: #fd8fad;
}

.card-heading {
    padding: 0 5px 5px 5px;
    background-color: rgba(33, 62, 83, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
}

#circuits .card-heading {
    background-color: rgba(235, 236, 240, 0.6);
}

.card p {
    padding: 5px;
}

#pricing {
    background-color: var(--primary-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#pricing > h2 {
    text-align: center;
    padding: 10px 0;
}

#price-table {
    text-align: center;
    font-size: 0.9rem;
    margin: auto;
}

#price-table, th, td {
    border: 2px solid var(--accent-light);
    border-collapse: collapse;
} 

th, td {
    padding: 0 2px;
}

th, .row-h {
    font-weight: 500;
    font-size: 0.8rem;
}

#pricing p {
    padding: 10px;
    text-align: center;
}

#pricing-contact {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: auto;
    margin-bottom: 15px;
}

#pricing-contact a {
   display: inline-block;
}

/*Gallery Page*/
#images img {
    width: 100%;
}

/*Contact Page*/
#contact-title {
    background: url(../images/contact-page-title.webp) no-repeat center top / cover;
    text-align: center;
}

#contact-page h2 {
    padding: 15px 0;
}

#contact-form, #contact-info {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#contact-form {
    padding-bottom: 15px;
    display: flex;
    background-color: rgba(33, 62, 83, 0.9);
}

.input-box {
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    width: 240px;
    line-height: 1.2rem;
    font-family: var(--body-font);
    color: var(--secondary-color);
    padding: 2px 4px;
}

.radio {
    background-color: transparent;
    accent-color: #D072FF;
}

.label {
    display: block;
    padding: 8px 0 5px 0;
}

#contact-info p {
    padding-bottom: 10px;
    text-decoration: none;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

#map {
    width: 100%;
}

/*Success page*/
#success-page {
    background: url(../images/success.webp) no-repeat center center / cover;
    display: flex;
    flex-direction: column;
}

#success {
    background-color: rgba(33, 62, 83, 0.6);
    flex: 1 0 auto;
    text-align: center;
    padding: 0 0 15px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.padding-b {
    padding-bottom: 15px;
}

#success-buttons {
    display: flex;
    justify-content: center;
    gap: 80px;
}

/*404 page*/
#oops-page {
    background: url(../images/machines-not-in-use.webp) no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#oops {
    background-color: rgba(235, 236, 240, 0.7);
    flex: 1 0 auto;
    text-align: center;
}

#oops h1 {
    color: var(--accent-dark);
}

#oops > div {
    margin-top: 15px;
}

/*Buttons*/
.button {
    padding: 6px 12px;
    font-family: var(--body-font);
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: 500;
    text-decoration: none;
}

.about-btn {
    position: absolute;
    bottom: 1rem;
}

.green-btn {
    background-color: var(--accent-light);
    border: 3px solid var(--accent-light);
    color: var(--primary-color);
}

.green-btn:hover {
    background-color: transparent;
    color: var(--accent-light);
}

.purple-btn {
    background-color: var(--accent-dark);
    border: 3px solid var(--accent-dark);
    color: var(--secondary-color);
}

.purple-btn:hover {
    background-color: transparent;
    color: var(--accent-dark);
}

.blue-btn {
    background-color: var(--highlight);
    border: 3px solid var(--highlight);
    color: var(--primary-color);
}

.blue-btn:hover {
    background-color: transparent;
    color: var(--highlight);
}

.dark-btn {
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
    color: var(--secondary-color);
}

.dark-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
}


#contact-btn {
    right: 10px;
}

.form-btn {
    min-width: 81px;
}

/*Footer*/
footer {
    background-color: var(--primary-color);
    z-index: 99;
    box-shadow: 0 -4px 2px #0d1e2a;
}

#social-links {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

#social-links i {
    color: var(--secondary-color);
    font-size: 1.5rem;
    padding: 10px;
}

#facebook:hover {
    color: var(--highlight);
}

#instagram:hover {
    color: #D072FF;
}

#tiktok:hover {
    color: var(--accent-light);
}

/*Media Queries*/
/*Large or landscape phones (576px and above)*/
@media screen and (min-width: 576px) {
    /*Timetable Page*/
    #price-table * {
        font-size: 1rem;
    }

    #pricing p {
        text-align: center;
    }
    
    /*Gallery Page*/
    #images {
        columns: 2;
        gap: 3px;
    }

    /*404 page*/
    #oops a {
        margin: 8px;
    }
}

/*Tablets and larger (768px and above)*/
@media screen and (min-width:768px) {
    /*Header*/
    header {
        padding: 7px 10px 7px 20px;
    }

    nav {
        display: block;
        position: relative;
        width: fit-content;
        box-shadow: none;
    }

    .nav-toggle {
        display: none;
    }

    #menu {
        display: flex;
    }

    #menu li {
        border-top: none;
    }

    /*Main Content*/
    main {
        margin-top: 53px;
    }

    /*Testimonials Section*/
    #row-a, #row-b {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
    }  
    
    .t-card {
        margin: 20px;
        flex-grow: 1;
        flex-basis: 364px;
        height: 185px;
    }

    /*Timetable Page*/
    #timetable-info {
        display: flex;
        justify-content: center;
    }

    #timetable-info p {
        flex-basis: 80%;
    }

    .card {
        flex-basis: 364px;
        flex-grow: 1;
    }

    .card p {
        min-height: 162px;
    }

    /*Gallery Page*/
    #images {
        columns: 3;
    }

    /*Contact page*/
    .container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .row {
       columns: 2;
    }

    #form-end {
        padding-top: 1.3rem;
    }
}

/*Large Screens (992px and above)*/
@media screen and (min-width: 992px) {
    #hero {
        height: 500px;
        background-position: center 75%;
    }

    /*Timetable page*/
    .card p {
        min-height: 143px;
    }

    /*Contact Page*/
    #contact-title {
        min-height: 450px;
    }

    #contact-title h1 {
        padding-top: 67px;
        font-size: 300%;
    }
    #contact-info {
        display: flex;
        flex-flow: row nowrap;
    }

    #contact-info > div {
        flex-grow: 1;
        flex-basis: 50%;
    }

    #contact-info h2 {
        text-align: center;
    }

    #contact-info p {
        margin-left: 20%;
    } 

    .row {
        gap: 60px;
    }
}

/*Point at which 3 about divs form 1 row (1152px)*/
@media screen and (min-width: 1152px) {
    #about div {
        border: none;
        align-self: stretch;
    }
}

/*XL screens (1200px and above)*/
@media screen and (min-width: 1200px) {
    /*Timetable Page*/
    #timetable-cards {
        display: flex;
    } 

    #row-a, #row-b {
        width: 50%;  
    }

    .card-heading {
        text-align: center;
    }

    .card p {
        min-height: 200px;
    }

    #price-table * {
        font-size: 1.5rem;
    }

    #pricing-contact * {
        font-size: 1.3rem;
    }
    
    /*Gallery Page*/
    #images {
        columns: 4;
    }
}

/*Very Large Screens (1400px and above)*/
@media screen and (min-width: 1400px) {
    #hero {
        height: 650px;
    }
}