/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*Styles for section visualisation*/
nav {
    background-color: aqua;
}

header {
    background-color: lightcoral;
}

footer {
    background-color: lightslategray;
}

/*CSS Variables*/
:root {
    --heading-font: "Michroma", sans-serif;
    --body-font: "Rubik", sans-serif;
    --primary-color: #213e53; /*Dark blue*/
    --secondary-color: #ebecf0; /*Light grey*/
    --accent-light: #fff16e; /*Yellow*/
    --accent-dark: #7b00b8; /*Purple*/
}


/*General Styles*/
body {
    Display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background-color: lightgreen;
    /*To ensure main uses all space to push footer to bottom*/
    flex: 1 0 auto;
}